* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c4abab;
}

.main-container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid black; */
}

.side-section {
  height: 95%;
  width: 30%;
  margin-top: 15px;
  border-radius: 34px;
  background: linear-gradient(145deg, #b09a9a, #d2b7b7);
  box-shadow: 5px 5px 16px #6e6464, -5px -5px 16px #e4bbbb;
}

.side-section-inner {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.tools-used {
  height: 40%;
  width: 80%;
  margin-top: 20px;
  color: #3b2a20;
  border-radius: 30px;
  background: linear-gradient(315deg, #d2b7b7, #b09a9a);
  box-shadow: -7px -7px 14px #4e4444, 7px 7px 14px #e4bbbb;
}

.tool-heading {
  margin-top: 10px;
  margin-left: 25px;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  margin-top: 10px;
}

.tools-used a {
  text-decoration: #3b2a20 underline;
  color: #3b2a20;
  font-weight: 550;
}

.owner {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(315deg, #d2b7b7, #b09a9a);
  box-shadow: -7px -7px 14px #4e4444, 7px 7px 14px #e4bbbb;
}

.owner h3,
h5 {
  color: #3b2a20;
  margin-left: 15px;
}

.about-us {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(315deg, #d2b7b7, #b09a9a);
  box-shadow: -7px -7px 14px #4e4444, 7px 7px 14px #e4bbbb;
}

.about-us-text {
  margin-top: 20px;
  color: #3b2a20;
}

.aggreagation-contact-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 40px;
  width: 80%;
  /* border: 2px solid black; */
}

.contact-icons i {
  color: #3b2a20;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #c4abab;
  box-shadow: inset 5px 5px 10px #998585, inset -5px -5px 10px #e4bbbb;
}

.contact-icons a {
  text-decoration: none;
}

.todo-part {
  height: 95%;
  width: 70%;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.headings {
  width: 95%;
  height: 80px;
  padding-left: 10px;
  top: 10px;
  border-radius: 20px;
  background: linear-gradient(145deg, #b09a9a, #d2b7b7);
  box-shadow: 5px 5px 16px #6e6464, -5px -5px 16px #e4bbbb;
}

h2,
h6 {
  margin-top: 5px;
  color: #3b2a20;
}

h6 {
  margin-left: 30px;
  color: #3b2a20;
}

h2 i {
  margin-right: 10px;
  color: #3b2a20;
}

.todo-items {
  height: 90%;
  width: 95%;
  margin-top: 15px;
  border-radius: 34px;
  overflow-y: auto; /* Ensures text does not overflow */
  white-space: normal; /* Allows text to wrap to the next line */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  background: #c4abab;
  box-shadow: inset 5px 5px 20px #6a5c5c, inset -5px -5px 20px #e4bbbb;
}

.headings,
.side-section {
  margin-top: 10px;
}

/* add todo items div */
.add-todo {
  width: 90%;
  height: 50px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  position: sticky;
  z-index: 1000;
  /* background: linear-gradient(145deg, #b09a9a, #d2b7b7);
  box-shadow: 5px 5px 16px #6e6464, -5px -5px 16px #e4bbbb; */
}

.add-todo input {
  margin-left: 20px;
  height: 27px;
  width: 60%;
  background-color: #c4abab;
  border: none;
  padding: 7px;
  border-radius: 20px;
  background: #c4abab;
  box-shadow: inset 5px 5px 10px #7d6d6d, inset -5px -5px 10px #e4bbbb;
}

.add-todo .add-button {
  margin-right: 20px;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #c4abab;
  box-shadow: inset 5px 5px 10px #998585, inset -5px -5px 10px #e4bbbb;
}

.add-todo .add-button i {
  color: darkgreen;
}

.task {
  height: 10%;
  width: 90%;
  margin: auto;
  font-weight: 500;
  margin-top: 15px;
  border-radius: 55px;
  background: linear-gradient(315deg, #d2b7b7, #b09a9a);
  box-shadow: -10px -10px 23px #706161, 10px 10px 23px #e4bbbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  word-wrap: break-word; /* Breaks long words to avoid overflow */
  overflow-y: scroll; /* Ensures text does not overflow */
  white-space: normal; /* Allows text to wrap to the next line */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  text-align: left; /* Ensure text is aligned to the left */
  vertical-align: top; /* Align content to the top */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.task-input:focus {
  outline: none;
  border: 2px solid #3b2a20;
}

.task .checkbox-input {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-around; */
}

.task .checkbox-input .checkboxinput {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.task .checkbox-input .labelClass {
  margin-left: 25px;
  font-size: 0.9rem;
}

.strikethrough {
  text-decoration: line-through;
}

.task .dlt-button {
  margin-right: 20px;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #c4abab;
  box-shadow: inset 5px 5px 10px #998585, inset -5px -5px 10px #e4bbbb;
}

.dlt-button i {
  color: red;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed;
  height: 50px;
  width: 300px;
  top: 20px;
  text-align: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000; /* Make sure it’s on top */
  transition: opacity 0.5s ease;
}

@keyframes addButtonAnimation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes dltButtonAnimation {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(2) rotateZ(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotateZ(0deg);
  }
}
